
  h1{
    text-align:center;
    font-size: 45px;
    border-bottom:solid gray;
    margin:0px;
    padding:20px;
  }
  body{
    margin:0px;
  }
  a{
    color:black;
    text-decoration: none;
  }
  #grid{
    display:grid;
    grid-template-columns:150px 1fr;
  }
  #grid ol{
    padding-left:40px;
  }
  ol{
    border-right:solid gray;
    margin:0px;
    padding:20px;
    width:100px;
  }

  #sel{
    padding-left:42px;
    padding-right:30px;
  }
@media(max-width:600px) {
  h1{border:none;}
  #grid{display:inline;}
  ol{border:none;}
}
